.container {
    margin-top: 50px;
  }
  .skip {
    background-color: #0f0f0e;
    font-size: small;
    border-radius: 520px;
  }
  .generate {
    background-color: #524e51;
    font-size: small;
    border-radius: 520px;
  }
  